/* Movie.css */
.movie {
    border: 2px solid #fcfbfb;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(14, 13, 13, 0.5);
    padding: 10px;
    margin: 20px;
    text-align: center;
    max-width: 300px;
    overflow: hidden;
    display: inline-block;
}

.movie-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.movie-title {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: rgb(8, 8, 100);
    font-weight: bold;
}

.movie-year,
.movie-genre,
.movie-text {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(240, 240, 242);
}